## algorithme apriori

In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_table(r'market_basket.txt', delimiter = '\t')

In [7]:
df.head()

   ID        Product
0   1        Peaches
1   2  Vegetable_Oil
2   2    Frozen_Corn
3   3          Plums
4   4    Pancake_Mix

In [9]:
df.describe()

                 ID
count  12935.000000
mean     645.854349
std      380.355489
min        1.000000
25%      287.000000
50%      654.000000
75%      961.000000
max     1361.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12935 entries, 0 to 12934
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       12935 non-null  int64
 1   Product  12935 non-null  object
dtypes: int64(1), object(1)
memory usage: 202.2+ KB

In [14]:
#tableau crois√© 0/1
TC = pd.crosstab(df.ID,df.Product)
print(TC.iloc[:10,:5])

Product  100_Watt_Lightbulb  2pct_Milk  40_Watt_Lightbulb  60_Watt_Lightbulb  \
ID
1                         0          0                  0                  0
2                         0          0                  0                  0
3                         0          0                  0                  0
4                         0          0                  0                  0
5                         0          0                  0                  0
6                         0          0                  0                  0
7                         0          1                  0                  0
8                         0          0                  0                  0
9                         0          0                  0                  0
10                        0          0                  0                  0

Product  75_Watt_Lightbulb
ID
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0
10                       0

In [16]:
TC.shape

(1360, 303)

In [18]:
TC.columns

Index(['100_Watt_Lightbulb', '2pct_Milk', '40_Watt_Lightbulb',
       '60_Watt_Lightbulb', '75_Watt_Lightbulb', '98pct_Fat_Free_Hamburger',
       'AA_Cell_Batteries', 'Apple_Cinnamon_Waffles', 'Apple_Drink',
       'Apple_Fruit_Roll',
       ...
       'White_Bread', 'White_Wine', 'White_Zinfandel_Wine', 'Whole_Corn',
       'Whole_Green_Beans', 'Whole_Milk', 'Window_Cleaner', 'Wood_Polish',
       'flav_Fruit_Bars', 'flav_Ice'],
      dtype='object', name='Product', length=303)