## L'algorithme apriori
## Youssefi Nora

In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_table(r'market_basket.txt', delimiter = '\t')

In [7]:
df.head()

   ID        Product
0   1        Peaches
1   2  Vegetable_Oil
2   2    Frozen_Corn
3   3          Plums
4   4    Pancake_Mix

In [9]:
df.describe()

                 ID
count  12935.000000
mean     645.854349
std      380.355489
min        1.000000
25%      287.000000
50%      654.000000
75%      961.000000
max     1361.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12935 entries, 0 to 12934
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       12935 non-null  int64
 1   Product  12935 non-null  object
dtypes: int64(1), object(1)
memory usage: 202.2+ KB

In [14]:
#tableau croisé 0/1
TC = pd.crosstab(df.ID,df.Product)
print(TC.iloc[:10,:5])

Product  100_Watt_Lightbulb  2pct_Milk  40_Watt_Lightbulb  60_Watt_Lightbulb  \
ID
1                         0          0                  0                  0
2                         0          0                  0                  0
3                         0          0                  0                  0
4                         0          0                  0                  0
5                         0          0                  0                  0
6                         0          0                  0                  0
7                         0          1                  0                  0
8                         0          0                  0                  0
9                         0          0                  0                  0
10                        0          0                  0                  0

Product  75_Watt_Lightbulb
ID
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0
10                       0

In [16]:
TC.shape

(1360, 303)

In [18]:
TC.columns

Index(['100_Watt_Lightbulb', '2pct_Milk', '40_Watt_Lightbulb',
       '60_Watt_Lightbulb', '75_Watt_Lightbulb', '98pct_Fat_Free_Hamburger',
       'AA_Cell_Batteries', 'Apple_Cinnamon_Waffles', 'Apple_Drink',
       'Apple_Fruit_Roll',
       ...
       'White_Bread', 'White_Wine', 'White_Zinfandel_Wine', 'Whole_Corn',
       'Whole_Green_Beans', 'Whole_Milk', 'Window_Cleaner', 'Wood_Polish',
       'flav_Fruit_Bars', 'flav_Ice'],
      dtype='object', name='Product', length=303)

 ## Extraction des itemsets fréquents

In [20]:
#importation de la fonction apriori
from mlxtend.frequent_patterns import apriori
#itemsets frequents
freq_itemsets = apriori(TC,min_support=0.025,max_len=4,use_colnames=True)

In [21]:
type(freq_itemsets)

pandas.core.frame.DataFrame

In [22]:
freq_itemsets.columns

Index(['support', 'itemsets'], dtype='object')

In [24]:
freq_itemsets.shape

(603, 2)

In [26]:
freq_itemsets.head()

    support                    itemsets
0  0.030147        (100_Watt_Lightbulb)
1  0.109559                 (2pct_Milk)
2  0.037500         (60_Watt_Lightbulb)
3  0.031618         (75_Watt_Lightbulb)
4  0.093382  (98pct_Fat_Free_Hamburger)

In [27]:
#fonction de test d'inclusion
def is_inclus(x,items):
 return items.issubset(x)

In [36]:
#recherche des index des itemsets correspondant à une condition

id = np.where(freq_itemsets.itemsets.apply(is_inclus,items={'Aspirin'}))
id2 = np.where(freq_itemsets.itemsets.apply(is_inclus,items = {'Cola'}))
print(id)
print(id2)

(array([ 13, 208, 249, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281,
       282, 283, 284, 285, 286, 509, 510, 511, 552, 553, 554, 555, 556],
      dtype=int64),)
(array([ 50, 214, 251, 272, 313, 314, 315, 316, 317, 318, 319, 320, 321,
       322, 323, 324, 325, 326, 327, 328, 329, 513, 514, 515, 516, 557,
       558, 559, 560, 561], dtype=int64),)

In [39]:
#affichage des itemsets corresp.
print(freq_itemsets.loc[id])

      support                              itemsets
13   0.066912                             (Aspirin)
208  0.034559                  (Aspirin, 2pct_Milk)
249  0.027941   (Aspirin, 98pct_Fat_Free_Hamburger)
272  0.027206                       (Aspirin, Cola)
273  0.025735              (Aspirin, Domestic_Beer)
274  0.038235                       (Aspirin, Eggs)
275  0.027206                   (Aspirin, Hot_Dogs)
276  0.027206                     (Aspirin, Onions)
277  0.027206   (Aspirin, Pepperoni_Pizza_-_Frozen)
278  0.025000               (Aspirin, Popcorn_Salt)
279  0.036029               (Aspirin, Potato_Chips)
280  0.030147                   (Aspirin, Potatoes)
281  0.030147               (Sweet_Relish, Aspirin)
282  0.028676               (Aspirin, Toilet_Paper)
283  0.025000                   (Aspirin, Tomatoes)
284  0.030882                 (Aspirin, Toothpaste)
285  0.025000                (Aspirin, Wheat_Bread)
286  0.041912                (White_Bread, Aspirin)
509  0.025735            (Aspirin, 2pct_Milk, Eggs)
510  0.025000    (Aspirin, 2pct_Milk, Potato_Chips)
511  0.027206     (White_Bread, Aspirin, 2pct_Milk)
552  0.025000         (Aspirin, Eggs, Potato_Chips)
553  0.029412          (White_Bread, Aspirin, Eggs)
554  0.027206  (White_Bread, Aspirin, Potato_Chips)
555  0.025000      (White_Bread, Aspirin, Potatoes)
556  0.025735    (White_Bread, Aspirin, Toothpaste)

In [41]:
#passer par une fonction lambda si on est pressé
np.where(freq_itemsets.itemsets.apply(lambda x,ensemble:ensemble.issubset(x),ensemble={'Aspirin'}))

(array([ 13, 208, 249, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281,
        282, 283, 284, 285, 286, 509, 510, 511, 552, 553, 554, 555, 556],
       dtype=int64),)

In [42]:
#itemsets contenant Aspirin - passer par les méthodes natives de Series
print(freq_itemsets[freq_itemsets['itemsets'].ge({'Aspirin'})])

      support                              itemsets
13   0.066912                             (Aspirin)
208  0.034559                  (Aspirin, 2pct_Milk)
249  0.027941   (Aspirin, 98pct_Fat_Free_Hamburger)
272  0.027206                       (Aspirin, Cola)
273  0.025735              (Aspirin, Domestic_Beer)
274  0.038235                       (Aspirin, Eggs)
275  0.027206                   (Aspirin, Hot_Dogs)
276  0.027206                     (Aspirin, Onions)
277  0.027206   (Aspirin, Pepperoni_Pizza_-_Frozen)
278  0.025000               (Aspirin, Popcorn_Salt)
279  0.036029               (Aspirin, Potato_Chips)
280  0.030147                   (Aspirin, Potatoes)
281  0.030147               (Sweet_Relish, Aspirin)
282  0.028676               (Aspirin, Toilet_Paper)
283  0.025000                   (Aspirin, Tomatoes)
284  0.030882                 (Aspirin, Toothpaste)
285  0.025000                (Aspirin, Wheat_Bread)
286  0.041912                (White_Bread, Aspirin)
509  0.025735            (Aspirin, 2pct_Milk, Eggs)
510  0.025000    (Aspirin, 2pct_Milk, Potato_Chips)
511  0.027206     (White_Bread, Aspirin, 2pct_Milk)
552  0.025000         (Aspirin, Eggs, Potato_Chips)
553  0.029412          (White_Bread, Aspirin, Eggs)
554  0.027206  (White_Bread, Aspirin, Potato_Chips)
555  0.025000      (White_Bread, Aspirin, Potatoes)
556  0.025735    (White_Bread, Aspirin, Toothpaste)

In [43]:
#itemsets contenant Aspirin et Eggs
print(freq_itemsets[freq_itemsets['itemsets'].ge({'Aspirin','Eggs'})])

      support                       itemsets
274  0.038235                (Aspirin, Eggs)
509  0.025735     (Aspirin, 2pct_Milk, Eggs)
552  0.025000  (Aspirin, Eggs, Potato_Chips)
553  0.029412   (White_Bread, Aspirin, Eggs)

## Extraction (déduction) des règles d’association

In [44]:
#fonction de calcul des règles
from mlxtend.frequent_patterns import association_rules
#génération des règles à partir des itemsets fréquents
regles = association_rules(freq_itemsets,metric="confidence",min_threshold=0.75)

In [45]:
#type de l'objet renvoyé
print(type(regles))

<class 'pandas.core.frame.DataFrame'>

In [46]:
regles.shape

(50, 9)

In [47]:
regles.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Aspirin, 2pct_Milk)",(White_Bread),0.034559,0.119118,0.027206,0.787234,6.608878,0.023089,4.140147
1,"(White_Bread, Bananas)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
2,"(Bananas, 2pct_Milk)",(White_Bread),0.031618,0.119118,0.025735,0.813953,6.833190,0.021969,4.734743
3,"(Wheat_Bread, Cola)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
4,"(2pct_Milk, Popcorn_Salt)",(Eggs),0.033088,0.122794,0.027206,0.822222,6.695941,0.023143,4.934283

In [49]:
#règles en restreignant l'affichage à qqs colonnes
myRegles = regles.loc[:,['antecedents','consequents','lift']]
print(myRegles.shape)
#pour afficher toutes les colonnes
pd.set_option('display.max_columns',5)
pd.set_option('precision',3)
#affichage des 5 premières règles
print(myRegles[:5])

(50, 3)
                 antecedents    consequents   lift
0       (Aspirin, 2pct_Milk)  (White_Bread)  6.609
1     (White_Bread, Bananas)    (2pct_Milk)  7.261
2       (Bananas, 2pct_Milk)  (White_Bread)  6.833
3        (Wheat_Bread, Cola)    (2pct_Milk)  7.261
4  (2pct_Milk, Popcorn_Salt)         (Eggs)  6.696

## Filtrage des règles

In [50]:
#trier les règles dans l'ordre du lift décroissants - 10 meilleurs règles
print(myRegles.sort_values(by='lift',ascending=False)[:10])

                                antecedents                 consequents   lift
46   (White_Bread, 2pct_Milk, Potato_Chips)                (Toothpaste)  9.514
29             (Sweet_Relish, Hot_Dog_Buns)                  (Hot_Dogs)  9.031
16            (White_Bread, Hamburger_Buns)  (98pct_Fat_Free_Hamburger)  8.202
47     (White_Bread, 2pct_Milk, Toothpaste)              (Potato_Chips)  7.726
8                     (Wheat_Bread, Onions)                 (2pct_Milk)  7.574
48  (White_Bread, Potato_Chips, Toothpaste)                 (2pct_Milk)  7.569
17  (Wheat_Bread, 98pct_Fat_Free_Hamburger)               (White_Bread)  7.556
13                (Wheat_Bread, Toothpaste)                 (2pct_Milk)  7.380
37               (Toilet_Paper, Toothpaste)               (White_Bread)  7.346
49    (Toothpaste, 2pct_Milk, Potato_Chips)               (White_Bread)  7.319

In [51]:
#filtrer les règles contenant 'Aspirin' dans leur antécédent
print(myRegles[myRegles['antecedents'].ge({'Aspirin'})])

                antecedents    consequents   lift
0      (Aspirin, 2pct_Milk)  (White_Bread)  6.609
18          (Aspirin, Eggs)  (White_Bread)  6.458
19  (Aspirin, Potato_Chips)  (White_Bread)  6.339
20      (Aspirin, Potatoes)  (White_Bread)  6.962
21    (Aspirin, Toothpaste)  (White_Bread)  6.996

In [52]:
#filtrer les règles menant au conséquent {‘2pct_milk’}
print(myRegles[myRegles['consequents'].eq({'2pct_Milk'})])

                                antecedents  consequents   lift
1                    (White_Bread, Bananas)  (2pct_Milk)  7.261
3                       (Wheat_Bread, Cola)  (2pct_Milk)  7.261
7                       (Eggs, Wheat_Bread)  (2pct_Milk)  6.970
8                     (Wheat_Bread, Onions)  (2pct_Milk)  7.574
9                (Potato_Chips, Toothpaste)  (2pct_Milk)  6.980
10                  (Potatoes, Wheat_Bread)  (2pct_Milk)  7.053
13                (Wheat_Bread, Toothpaste)  (2pct_Milk)  7.380
41        (White_Bread, Eggs, Potato_Chips)  (2pct_Milk)  7.143
44          (White_Bread, Eggs, Toothpaste)  (2pct_Milk)  7.261
48  (White_Bread, Potato_Chips, Toothpaste)  (2pct_Milk)  7.569